                    /* Default */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}


                    /* Navigation */
                   
.navbar{
    position: relative;
    right: -300em;
}

.logo{
    position: fixed;
    top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    left: 15px;
    z-index: 100;
    color: rgb(46, 46, 46);
}

.hamburger-menu{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
}
.line{
    width: 35px;
    height: 5px;
    background-color: rgb(46, 46, 46);
    margin: 6px 0;
    transition: all .6s;
}
.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 0px);
    background-color: rgb(46, 46, 46);
}
.change .line-2 {
    transform: rotateZ(45deg) translate(-8px, 0px);
    background-color: rgb(46, 46, 46);
}

.ham-container{
    position: fixed;
    z-index: 100;
    width: 60vw;
    height: 100vh;
    border-radius: 2% 0 0 2%;
    background-color: rgba(230, 230, 230);
}

.change {
 left: 40vw;
}
.nav-list{
    list-style-type: none;
    z-index: 100;
    font-weight: 700;
    text-align: center;

}
.nav-item{
    position: relative;
    top: 40vh;
    margin-top: 3.5vh;
    font-size: 1.4rem;
}
.nav-link{
    text-decoration: none;
    color: rgb(46, 46, 46);
}


                    /* Landing */
.landing{
    background-color: #d6eeff;

    /* Color for Dark Mode
    background-color: rgb(80, 80, 80);
    */
     
    height: 100vh;
    overflow-x: hidden;
}
.intro{
    position: relative;
    top: 20vh;
    text-align: center;  
    font-size: 2.3rem;
    color: rgb(46, 46, 46);
}
.test{
    position: relative;
    right: 35px;

}
.intro .l-name{
    display: block;
    text-align: center;
    color: rgb(216, 133, 133);
    font-weight: 600;


}
.intro .title{
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.hero-container{
    /*
    overflow-y: hidden;
    overflow-x: hidden;
    */
    position: relative;
    top: 35vh;
}
#hero{
    /*
    position: relative;
    */
    width: 100vw;
    transform: scale(1.7);
    z-index: 500;
    /*
    top: 40vh;
    */
    margin-left: 5vw;
    display: block;
}



                    /* Projects */
.projects{
    position: relative;
    height: 100vh;
    background-color: rgba(36, 107, 107, 0.4);
}

/*
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
*/


  
.demo img{
    width: 80vw;
    /*transform: scale(1);*/
    position: relative;
    opacity: 50%;
}








  @media (min-width: 688px){
      body{
          opacity: 0;
      }
  }