                    /* Default */
*{
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}


                    /* Navigation */
                   
.navbar{
    position: relative;
    right: -300em;
}

.logo{
    position: fixed;
    top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    left: 15px;
    z-index: 100;
    color: rgb(46, 46, 46);
}

.hamburger-menu{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 1000;
    cursor: pointer;
}
.line{
    width: 35px;
    height: 5px;
    background-color: rgb(46, 46, 46);
    margin: 6px 0;
    transition: all .6s;
}
.change .line-1{
    transform: rotateZ(-45deg) translate(-8px, 0px);
    background-color: rgb(46, 46, 46);
}
.change .line-2 {
    transform: rotateZ(45deg) translate(-8px, 0px);
    background-color: rgb(46, 46, 46);
}

.ham-container{
    position: fixed;
    z-index: 100;
    width: 60vw;
    height: 100vh;
    border-radius: 2% 0 0 2%;
    background-color: rgba(230, 230, 230, .98);
}

.change {
 left: 40vw;
}
.nav-list{
    list-style-type: none;
    z-index: 100;
    font-weight: 700;
    text-align: center;

}
.nav-item{
    position: relative;
    top: 40vh;
    margin-top: 3.5vh;
    font-size: 1.4rem;
}
.nav-link{
    text-decoration: none;
    color: rgb(46, 46, 46);
}
.nav-bar{
    display: none;
}

                    /* Landing */
.landing{
    /* background-color: whitesmoke; */
    background-color: whitesmoke;
    /* Color for Dark Mode
    background-color: rgb(80, 80, 80);
    */
    overflow-x: hidden;
}
.intro{
    position: relative;
    top: 20vh;
    text-align: center;  
    font-size: 2.5rem;
    color: rgb(46, 46, 46);
    margin-bottom: 5em;
}
.greet{
    position: relative;
    right: 35px;
}
.intro .name{
    display: block;
    text-align: center;
    color: rgb(8, 72, 116);
    font-weight: 600;
}
.intro .title{
    display: block;
    font-size: 1.5rem;
    text-align: center;
}
.hero-container{
    display: block;
}
#hero{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    box-sizing: content-box;
}


                    /* About Me */
.about{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about h1{
    padding: 8vh 0 5vh;
    margin: 2em 0;
    font-size: 2rem;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
}
.card{
    background-color: rgb(26, 26, 26);
    margin-bottom: 1vh;
    height: 55vw;
    width: 55vw;
}





                    /* Projects */
.projects{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.projects h1{
    padding: 8vh 0 5vh;
    margin: 2em 0;
    font-size: 2rem;
    color: rgb(54, 54, 54);
    text-transform: uppercase;
}
.demo img{
    width: 80vw;
    position: relative;
    display: block;
}
.project{
    margin-bottom: 1vh;
}

                    /* Contact */
.contact{
    height: 91vh;
    background-color: rgb(29, 29, 29);
    
}
.containerform{
    display: flex;
    justify-content: center;

}
.contact h1{
    padding: 8vh 0 5vh;
    margin: 2em 0;
    font-size: 2rem;
    color: rgb(233, 233, 233);
    text-transform: uppercase;
    text-align: center;
}
label{
    color: white;
    display: block;
    padding-top: 50px;
    padding-bottom: 10px;
}
input{
    width: 80vw;
    height: 30px;
    background-color: rgb(48, 48, 49);
    border-style: none;
    border-radius: 5px;
    padding-left: 10px;
    color: whitesmoke;
    font-weight: bold;
}
textarea{
    padding-left: 10px;
    padding-top: 8.5px;
    background-color: rgb(48, 48, 49);
    border-style: none;
    border-radius: 5px;
    resize: vertical;
    box-sizing: border-box;
    width: 80vw;
    color: whitesmoke;
    font-weight: bold;
    letter-spacing: 2px;
}
#message{
    height: 60px;
}
#submitbtn{
    color: white;
    background-color: rgb(29, 29, 29);
    border-width: 2px;
    border-style: solid;
    width: 100px;
    margin-top: 10px;
}


  @media (min-width: 688px){

                    /* Navigation */
    .logo{
        font-size: 2em;
    }

                        /* Landing */
    .intro{
        font-size: 3.5rem;
        position: relative;
        top: 100px;
        float: left;
        left: 35px;
        color: rgb(61, 61, 61);
        margin-bottom: 3.6em;
    }
    .intro .name{
        display: inline-block;
        color: rgb(8, 72, 116);
    }
    .intro p{
        font-weight: bold;
    }
    span{
        position: relative;
        left: 0;
    }
    .greet::after{
        content: ', ';
    }
    .omit{
        display: none;
    }
    .title{
        float: left;
        margin-left: 20px;
        margin-top: 15px;
        font-size: 2rem !important;
    }
    #hero{
        width: 620px;
    }
  }
  @media (min-width: 992px){
    .hero-container{
        margin-top: 20em;
    }
}

@media (min-width: 1312px){

}