                    /* Default */
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Nunito Sans', sans-serif;
}


                    /* Navigation */

.logo{
    position: fixed;
    top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    left: 15px;
    z-index: 100;
    color: rgb(12, 12, 12);
}
.hamburger-menu{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 100;
}
.line{
    width: 35px;
    height: 5px;
    background-color: rgb(12, 12, 12);
    margin: 6px 0;
  }
input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: grey;
	float: right;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 90px;
	transition: 0.3s;
}

input:checked + #tggle {
	background: #4a36ff;
}

#switch:checked + :after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

#tggle:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

                    /* Landing */
.landing{
    /*background-color: rgb(255, 255, 255);*/
    /* Color for Dark Mode */
        background-color: rgb(80, 80, 80);
    height: 100vh;
    overflow-x: hidden;
}
.intro{
    position: relative;
    top: 20vh;
    font-size: 2rem;
    margin-left: 15vw;
}
.intro span{
    display: block;
    color:rgba(36, 107, 107);
    font-weight: 600;
    margin-left: 2vw;    
}
#hero{
    width: 100vw;
}
/*
.hero-bg img{
    position: relative;
    top: 40vh;
    left: 5vw;
    width: 100vw;
}
#darkimage{
    position: relative;
    top: 11.2vh;
    left: 5vw;
    width: 100vw;
}
*/


                    /* Projects */
.projects{
    position: relative;
    height: 100vh;
    background-color: rgba(36, 107, 107, 0.4);
    padding-bottom: 10vh;
}

.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
    top: 20vh;
    margin-bottom: 10vh;
    display: inline-block;
}
/*
.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}
*/
.project-1{
    display: inline-block; 
    margin-left: 20vw;
    width: 80vw; 
    height: 20.8vh;
    position: relative;
    background: pink;
}
.idkman{
    width: 2vw;
    height: 20.8vh;
    background-color: aquamarine;
    display: inline-block; 
    position: relative;
    z-index: 1;
}
.demo img{
    width: 100%;
    min-height: 100%;
    transform: scale(1);
    position: relative;
    bottom: 21.3vh;
    display: inline-block; 

}
.shit{
    width: 80vw;
    height: 20vh;
    background-color: purple;
    display: inline-block; 
}



.gg{
    width: 100%;
    transform: scale(1);
}

/*
.project-1::before{
    content: '';
    display: inline-block; 
    position: absolute;
    width: 2vh; 
    height: 20.8vh;
    right: 80vw;
    top: 0;
    background: rgb(121, 121, 121);
}
.project-1::after{
    content:'';
    display: inline-block; 
    position: absolute;
    width: 37vh; 
    height: 20.8vh;
    left: 80vw;
    background: orange;
}
*/
.project-2{
    display: inline-block; 
    margin-left: 20vw;
    width: 80vw; 
    height: 20.8vh;
    position: relative;
    background: pink;
}
.project-2::before{
    content: '';
    display: inline-block; 
    position: absolute;
    width: 2vh; 
    height: 20.8vh;
    right: 80vw;
    top: 0;
    background: rgb(121, 121, 121);
}
.project-2::after{
    content: '';
    display: inline-block; 
    position: absolute;
    width: 37vh; 
    height: 20.8vh;
    left: 80vw;
    background: orange;
}.project-3{
    display: inline-block; 
    margin-left: 20vw;
    width: 80vw; 
    height: 20.8vh;
    position: relative;
    background: pink;
}
.project-3::before{
    content: '';
    display: inline-block; 
    position: absolute;
    width: 2vh; 
    height: 20.8vh;
    right: 80vw;
    top: 0;
    background: rgb(121, 121, 121);
}
.project-3::after{
    content: '';
    display: inline-block; 
    position: absolute;
    width: 37vh; 
    height: 20.8vh;
    left: 80vw;
    background: orange;
}



/*
.scrolling-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.card{
    display: inline-block;
}
.content{
    width: 75vw; 
    height: 25vh;
    background: blue;
    margin-top: 190px;

 }
 .content::after{
     content: '';
     width: 400px; 
     height: 400px;
     background: orange;
     position: absolute;
    left: 100px;
  }
  */




  @media (min-width: 688px){
      body{
          opacity: 0;
      }
  }